{% extends 'paginate.html' %} {% block content %}
<main class="recipe-grid">
  <div>
  {% for user in users %}

  <div class="recipe-card">
    <h2 class="recipe-card-title">
      {{ user.username }}
    </h2>
  <ul>

    {% for recipe in user.recipes.all %}
    <li>
     <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </li>
  {% endfor %}
</ul>

</div>

  {% endfor %}




</main>
{% endblock content %}
