{% extends 'paginate.html' %} {% block content %}
<main>
  <h1>Your shopping list</h1>
  <div>
      <form method="post" action="{% url 'shopping_item_delete' %}">
          {% csrf_token %}
          <button class="button">Delete all </button>
  </div>
  <ul>
      {% for item in shoppingitem_list %}
      <li>{{ item.food_item }} </li>
      {% endfor %}
  </ul>
</main>
{% endblock content %}
