{% extends 'base.html' %} {% block content %} {% load markdownify %}

<main class="recipe-detail">
  <div>
    <a href="{% url 'tag_edit' tag.id %}">Edit</a>
    <a href="{% url 'tag_delete' tag.id %}">Delete</a>
  </div>
  {% if tag.image %}
  <img src="{{ tag.image }}" class="pull-right" />
  {% endif %}
  <h1>{{ tag.name }}</h1>
  <h2>by: {{ tag.author | default_if_none:"Unknown" }}</h2>
</main>
{% endblock content %}
