{% extends 'base.html' %} {% block content %} {% load markdownify %}

<main class="recipe-detail">
  <div>
    <a href="{% url 'meal_plans_edit' meal_plans.id %}">Edit</a>
    <a href="{% url 'meal_plans_delete' meal_plans.id %}">Delete</a>
  </div>

  <h2>Recipes for {{ meal_plans.name }} on {{ meal_plans.date}}</h2>
  <h2>Owned by: {{ meal_plans.owner }}</h2>

  {% for recipe in meal_plans.recipes.all %}
  <p>
    <a href="{% url 'recipe_detail' recipe.pk %}"> <p>{{ recipe.name }}</p></a>
  </p>
  {% empty %}
  <p class="recipe-card-date">{{ recipe.updated }}</p>
  {% endfor %}
</main>
{% endblock content %}
