{% extends 'paginate.html' %} {% block content %}
<main class="recipe-grid">
  <div>
    <a href="{% url 'meal_plans_new' %}">Create</a>
  {% for meal_plan in meal_plans %}
  <div class="recipe-card">
    <h2 class="recipe-card-title">
      <a href="{% url 'meal_plans_detail' meal_plan.pk %}">{{ meal_plan.name }}</a>
    </h2>
    {% for recipe in meal_plan.recipes.all %} <a href="{% url 'recipe_detail' recipe.pk %}">
      <p> {{ recipe.name }} </a> </p>
      {% empty %}
    <p class="recipe-card-date">{{ recipe.updated }}</p>
  </div>
  {% endfor %}
  {% endfor %}
</main>
{% endblock content %}
